<template name="History">
  {{> esInput index="activities" placeholder="Enter an Account ID or username..."}}
  
  <ul>
    {{#esEach index="activities"}}
      <li>{{createdAt}} {{accountId}} {{accountType}} {{username}} {{activityType}}</li>
    {{/esEach}}
  </ul>
  
  {{> esLoadMoreButton index="activities"}}
  
  {{#ifEsHasNoResults index="activities"}}
    <div class="no-results">No results found</div>
  {{/ifEsHasNoResults}}
  
  {{#ifEsIsSearching index="activities"}}
    <div>Searching...</div>
  {{/ifEsIsSearching}}
      
</template>
