<template name="UserEdit">
  <h1>Edit User</h1>
  <p>Editing: {{userEmail}}</p>
  <p>Current skills:</p>
  {{#each userSkills}}
    {{this}}<br>
  {{/each}}
  <br>
  {{#autoForm schema=userEditSchema id="skillsForm" type="method" meteormethod="updateSkills"}}
    <fieldset>
      <legend>Select New Skills</legend>
      {{> afQuickField name="selectedSkills" type="select-checkbox" template="buttonGroup" value=1 label=false}}
    <div>
      <button type="submit" class="btn btn-success">Update</button>
    </div>
    </fieldset>
  {{/autoForm}}
  <hr>
  {{# quickRemoveButton collection="Meteor.users" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}Delete User{{/quickRemoveButton}}
</template>
